// File for scss-vars.
// For example: main colors, paddings and so on.
$black: #000;
$white: #fff;


$gray: #807f7e;
$purpur: #340e4d;

$blue: #8fbecd;

$yellow: #efae02;
$light-yellow: #fdea9d;

$red: #f7142b;
$dark-red: #ca0f24;
$light-red: #e04f5f;

$green: #6ac259;


$desktop-lg: 1640px;
$desktop-md: 1140px;
$desktop-sm: 1024px;
$desktop: 991px;
$tablet: 768px;
$mobile: 767px;
$mobile-sm: 479px;


