.addition{
    &__title{
        color: $yellow;
        font-size: rem(30);
        font-weight: 700;
        line-height: rem(72);
        letter-spacing: rem(-0.3);
        text-align: center;
    }
    &__list{
    }
}

// indent
.addition{
    &__list-item + *{
        margin-top: rem(37);
    }
}




/*
* @components   Checkbox
*/
input[type="checkbox"]{
    display: none;
}

//label(class="checkbox")

input[type="checkbox"] + .checkbox{
    display: inline-block;
    color: $yellow;
    transition: 0.3s ease all;
}
input[type="checkbox"]:checked + .checkbox{
    display: inline-block;
}

//span.checkbox__icon
input[type="checkbox"] + .checkbox .checkbox__icon{
    display: inline-block;
    position: relative;
    top: calc((30px - 24px) / 2);
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: 48px;
    // transition: 0.3s ease all;
}

input[type="checkbox"] + .checkbox .checkbox__icon{
    background: transparent;
    border: rem(3) solid $white;
}

//span.checkbox__cnt
input[type="checkbox"] + .checkbox .checkbox__cnt{
    display: inline-block;
    //font-size: 12px;
    //line-height: 20px;

    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.3px;
    text-align: center;

    // font-family: $proximaNova-light;
    width: calc(100% - 24px - 24px);
}

input[type="checkbox"] + .checkbox .checkbox__cnt.checkbox__cnt--left{
    margin-left: 24px;
}

input[type="checkbox"] + .checkbox .checkbox__cnt.checkbox__cnt--text{
    vertical-align: top;
}
input[type="checkbox"] + .checkbox .checkbox__cnt.checkbox__cnt--img{
    vertical-align: middle;
}

input[type="checkbox"]:checked + .checkbox .checkbox__icon{
    background: url("%=static=%content/check-solid2.svg") center center no-repeat;
    background-position: 0 0;

}

//check effects
input[type="checkbox"] + .checkbox:hover{
    cursor: pointer;
}
